# Environment
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Packaging
build/
dist/
*.egg

uv.lock

# OS-specific
.DS_Store

# temporary output
test/
