import sys
import platform

os_type = platform.system()

if os_type == 'Windows':
    # Executable path: C:\Program Files\QGIS 3.34.9\apps\Python312\python3
    print("This is a Windows system.")
    # Windows-specific paths
    QGIS_PATH = r"C:\Program Files\QGIS 3.34.9"
    qgis_python_plugin_path = [
        fr"{QGIS_PATH}\apps\qgis-ltr\python",
        fr"{QGIS_PATH}\apps\qgis-ltr\python\plugins"
    ]
    qgis_prefix_path = fr"{QGIS_PATH}\bin"
elif os_type == 'Linux':
    print("This is a Linux system.")
    # Linux-specific paths
    qgis_python_plugin_path = ["/usr/share/qgis/python/plugins"]
    qgis_prefix_path = "/usr/bin"
elif os_type == 'Darwin':
    print("This is a macOS system.")
    # macOS-specific paths
    qgis_python_plugin_path = ["/Applications/QGIS.app/Contents/Resources/python/plugins"]
    qgis_prefix_path = "/Applications/QGIS.app/Contents/MacOS"
else:
    print("Unknown operating system.")
    # Actions for other operating systems
    sys.exit(1)

for path in qgis_python_plugin_path:
    sys.path.append(path)

from qgis.core import QgsApplication
from qgis.analysis import QgsNativeAlgorithms
QgsApplication.setPrefixPath(qgis_prefix_path, True)

qgs = QgsApplication([], False)

# Load QGIS providers and algorithms
qgs.initQgis()
import processing
from processing.core.Processing import Processing

Processing.initialize()
# QgsApplication.processingRegistry().addProvider(QgsNativeAlgorithms())

{{ script_line }}

# Exit QGIS application
qgs.exitQgis()